<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="E-mail"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel">
        <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input
        matInput
        type="password"
        placeholder="Password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
        <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Your birthdate" [matDatepicker]="picker" [max]="maxDate"
        ngModel
        name="birthdate"
        required>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-checkbox ngModel name="agree"
      required
      color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button type="submit" mat-raised-button color="primary"
      [disabled]="f.invalid">Sign Up</button>
  </form>
</section>
